<div class="dropdown-menu">
    <!-- Download -->
    <a href="{% url 'archive:document_download' document.id %}" 
        class="dropdown-item text-default" 
        data-toggle="tooltip">
        <i class="fa-solid fa-download"></i>Download
    </a>
    <!-- Edit (Staff Only) -->
    <a class="dropdown-item text-default"
        data-action="{% if has_spd %}edit-spd{% else %}edit-document{% endif %}"
        data-document-id="{{ document.id }}"
        data-document-type="{{ document.document_type_slug }}"
        data-toggle="tooltip">
        <i class="fa-solid fa-pen"></i>Edit
    </a>
    <!-- Preview -->
    <a href="{% url 'archive:document_preview' document.id %}" 
        class="dropdown-item text-default" 
        data-toggle="tooltip">
        <i class="fa-solid fa-eye"></i>Preview
    </a>

    <div class="dropdown-divider"></div>

    <!-- Detail -->
    <a class="dropdown-item text-default"
        data-action="open-detail-panel" 
        data-document-id="{{ document.id }}">
        <i class="fa-solid fa-circle-info"></i>Detail
    </a>

    <div class="dropdown-divider"></div>

    <!-- Delete (Staff Only) -->
    <a class="dropdown-item text-default"
        data-action="{% if has_spd %}delete-spd{% else %}delete-document{% endif %}"
        data-document-id="{{ document.id }}"
        data-file-name="{{ document.get_filename }}"
        data-toggle="tooltip">
        <i class="fa-solid fa-trash"></i>Delete
    </a>
</div>
