{% extends 'base.html' %}
{% load static %}

{% block title %}Manajemen Users - Sistem Arsip Digital{% endblock %}

{% block extra_css %}
<link href="{% static 'vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}Manajemen Users{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block header_actions %}
<button class="btn btn-sm btn-secondary" data-action="add-user">Tambah User</button>
{% endblock %}

{% block content %}
<!-- User List -->
<div class="row">
    <div class="col-12" id="mainContent">
        <div class="card shadow">
            <!-- Card Header -->
            <div class="card-header border-0 bg-transparent py-3">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="mb-0 d-inline-flex align-items-center">
                            Daftar Users
                            <span class="badge badge-pill badge-default ml-2">{{ total_results }}</span>
                        </h4>
                    </div>
                </div>
            </div>
            
            <!-- Card Body -->
            {% include 'accounts/includes/user_table.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'js/modules/user_list.js' %}"></script>
{% endblock %}