{% extends 'base.html' %}
{% load static %}

{% block title %}Daftar Pegawai - Sistem Arsip Digital{% endblock %}

{% block extra_css %}
<link href="{% static 'vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}Manajemen Pegawai{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Pegawai</li>
{% endblock %}

{% block header_actions %}
<button class="btn btn-sm btn-secondary" data-action="add-employee">Tambah Pegawai</button>
{% endblock %}

{% block content %}
<!-- Employee List -->
<div class="row">
    <div class="col-12" id="mainContent">
        <div class="card shadow">
            <!-- Card Header -->
            <div class="card-header">
                <h4 class="mb-0 d-inline-flex align-items-center">
                    Daftar Pegawai
                    <span class="badge badge-default badge-pill ml-2">{{ total_results }}</span>
                </h4>
            </div>
            
            <!-- Card Body -->
            {% include 'archive/includes/employee_table.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'js/modules/employee_list.js' %}"></script>
{% endblock %}